*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family:  Arial, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: rgb(196, 252, 233);
}
#page2{
    background-color: rgb(138, 215, 218);
    height: 100%;
    width: 100%;
}
#page2 img{
    height: 100%;
    width: 20%;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#page3{
    background-color: rgb(255, 186, 136);
    height: 100%;
    width: 100%;
}